@extends('layouts.app')

@section('content')
<div class="equipment">
    <div class="container">
        <h1 class="equipment__title title">Оборудования</h1>
        <div class="equipment__wrapper">
            <div class="equipment__row">
                @foreach($equipments as $equipment)
                <div class="equipment__column">
                    <div class="equipment__file file">
                        <a href="{{route('equipmentShow',$equipment->id)}}" class="file__row">
                            <div class="file__img">
                                <img src="" alt="">
                            </div>
                            <div class="file__title"></div>
                            <div class="file__descr"></div>
                            <div class="file__next">
                                <img src="/images/icons/next.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
