@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("/fonts/OpenSans-Regular.eot");
  /* IE9 */
  src: url("/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Regular.woff") format("woff"), url("/fonts/OpenSans-Regular.ttf") format("truetype");
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("/fonts/OpenSans-Bold.eot");
  /* IE9 */
  src: url("/fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Bold.woff") format("woff"), url("/fonts/OpenSans-Bold.ttf") format("truetype"), url("/fonts/OpenSans-Bold.svg#Open Sans") format("svg");
  /* iOS 4.1- */
  font-style: Bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("/fonts/OpenSans-Light.eot");
  /* IE9 */
  src: url("/fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Light.woff") format("woff"), url("/fonts/OpenSans-Light.ttf") format("truetype"), url("/fonts/OpenSans-Light.svg#Open Sans Light") format("svg");
  /* iOS 4.1- */
  font-style: Light;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display", sans-serif;
  src: url("/fonts/SFProDisplay-Semibold.eot");
  /* IE9 */
  src: url("/fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("/fonts/SFProDisplay-Semibold.woff") format("woff"), url("/fonts/SFProDisplay-Semibold.ttf") format("truetype"), url("/fonts/SFProDisplay-Semibold.svg#SF Pro Display") format("svg");
  /* iOS 4.1- */
  font-style: Semibold;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display", sans-serif;
  src: url("/fonts/SFProDisplay-Regular.eot");
  /* IE9 */
  src: url("/fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/SFProDisplay-Regular.woff") format("woff"), url("/fonts/SFProDisplay-Regular.ttf") format("truetype"), url("/fonts/SFProDisplay-Regular.svg#SF Pro Display") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/*--------------------*/
* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #488DCD;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
}

.slick-dots li button:before {
  content: '•';
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  color: transparent;
  opacity: 1;
  border-radius: 50%;
  top: -290%;
}

.slick-dots li.slick-active button::before {
  color: transparent;
  opacity: 1;
  background-color: #fff;
}

/*************************** ШАПКА */
.header {
  padding: 16px 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

.header__logo img {
  max-width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 95px;
}

.header__list li {
  margin-left: 50px;
}

.header__list li a {
  font-size: 18px;
  color: #000000;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header__list li a:hover {
  color: #488DCD;
}

.header__links {
  font-size: 18px;
  color: #3E79E6;
  margin-right: 64px;
}

.header__links:last-child {
  margin-right: 0;
}

.carousel {
  padding-top: 45px;
}

.carousel__inner {
  max-width: 1440px;
}

.carousel__inner img {
  position: relative;
  width: 100%;
  border-radius: 25px;
}

.carousel__text {
  position: absolute;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 80px;
  color: #FFFFFF;
  bottom: 30%;
  margin-left: 86px;
  line-height: 106px;
}

.advantages {
  padding: 64px 0;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.item {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 350px;
  background-color: #fff;
  height: 280px;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.item__img {
  max-width: 148px;
  margin-top: 15px;
}

.item__img img {
  width: 100%;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item__descr {
  font-size: 23px;
  line-height: 25px;
  text-align: center;
  color: #3F3F3F;
  margin-top: 70px;
  font-weight: 600;
  position: relative;
}

.item__descr::before {
  content: "";
  width: 281px;
  height: 2px;
  position: absolute;
  top: -28px;
  background-color: #488DCD;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  position: relative;
  color: #fff;
}

.title::after {
  position: absolute;
  content: "";
  width: 118px;
  height: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #488DCD;
  bottom: -16px;
}

.carriers__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  color: #FFFFFF;
}

.carriers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15.5px;
}

.carriers__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15.5px;
  margin-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carrier {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 0 32px;
  padding-bottom: 12px;
  margin-bottom: 8px;
}

.carrier__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carrier__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33px;
          flex: 0 0 83.33px;
  margin-top: 41px;
}

.carrier__img img {
  width: 100%;
}

.carrier__text {
  margin-top: 32px;
  text-align: center;
  font-family: Open Sans;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
}

.carrier__item {
  margin-bottom: 12px;
}

.carrier__item span {
  color: #2BD03B;
}

.carriers__column:nth-child(2) span {
  color: red;
}

.carriers__column:nth-child(3) span {
  color: red;
}

.objects {
  padding: 64px 0 40px 0;
}

.objects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -25.5px;
}

.objects__title {
  margin-bottom: 45px;
}

.objects__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 25.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.objects .card {
  margin-bottom: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 24px 0px 0px;
  position: relative;
  border-radius: 25px;
}

.objects .card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.objects .card__text {
  margin-left: 24px;
}

.objects .card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
}

.objects .card__img img {
  border-radius: 25px 0 0 25px;
  width: 100%;
}

.objects .card__title {
  position: relative;
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 18px;
  color: #0A0A0A;
  line-height: 26px;
  margin-top: 24px;
}

.objects .card__title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #474747;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -21px;
}

.objects .card__descr {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #808080;
  margin-top: 37px;
  line-height: 24px;
  max-width: 342px;
  padding-bottom: 20px;
}

.objects .card .date, .objects .card__date {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #0A0A0A;
  position: absolute;
  bottom: 20px;
  right: 24px;
  padding-left: 20px;
}

.all {
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fff;
  margin: 0 auto;
  margin-top: 40px;
}

.services {
  padding: 64px 0;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__main {
  padding: 76px 98px 112px 86px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services__title {
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  position: relative;
}

.services__title::after {
  position: absolute;
  content: "";
  width: 118px;
  height: 4px;
  /*left: 50%; */
  -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
  background-color: #488DCD;
  bottom: -16px;
}

.services__descr {
  width: 457px;
  margin-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

.services .button {
  width: 161px;
  height: 50px;
  background: #488DCD;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 32px;
}

.news {
  padding: 64px 0;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -13px;
}

.news__column {
  padding: 0 13px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.post {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  position: relative;
  border-radius: 25px;
}

.post__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__title {
  position: relative;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #0A0A0A;
  padding-top: 24px;
  padding-right: 34px;
  padding-left: 34px;
  line-height: 23px;
  white-space: pre-line;
}

.post__title::after {
  content: "";
  position: absolute;
  width: 356px;
  height: 1px;
  background: #474747;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -27px;
}

.post__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 237px;
          flex: 0 0 237px;
}

.post__image img {
  width: 100%;
}

.post__descr {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #808080;
  text-align: center;
  line-height: 23px;
  padding: 0 36px;
  margin-top: 45px;
  padding-bottom: 20px;
}

.post__date {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #0A0A0A;
  position: absolute;
  bottom: 20px;
  right: 24px;
}

.bigcard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bigcard__left {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px 0 0 25px;
  padding: 0 80px;
}

.bigcard__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #3D3D3D;
  margin-top: 76px;
}

.bigcard__descr {
  font-family: Open Sans;
  font-size: 20px;
  line-height: 27px;
  color: #808080;
  margin-top: 52px;
}

.bigcard__btn {
  margin-top: 32px;
  background: #488DCD;
  width: 161px;
  height: 50px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  color: #fff;
}

.bigcard__btn:hover {
  background: #3c7ab4;
}

.bigcard__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 665px;
          flex: 0 0 665px;
}

.bigcard__img img {
  width: 100%;
  border-radius: 0 25px 25px 0;
}

.reviews {
  padding: 64px 0 100px 0;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -13px;
}

.reviews__container {
  max-width: 1145px;
  margin: 0 auto;
}

.reviews__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 13px;
  margin-bottom: 60px;
}

.reviews__img {
  max-width: 335px;
}

.reviews__img img {
  width: 100%;
  margin-top: 40px;
}

.cert {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 25px 32px 32px;
  margin-top: 40px;
}

.cert__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 335px;
          flex: 0 0 335px;
}

.cert__img img {
  width: 100%;
}

.cert__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cert__title {
  font-family: SF Pro Display;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #0A0A0A;
}

.cert__descr {
  font-family: SF Pro Display;
  font-size: 12px;
  text-align: center;
  color: #808080;
  margin-top: 16px;
  line-height: 18px;
}

.cert__descr p {
  margin-bottom: 20px;
}

.cert__descr p:last-child {
  margin-top: 49px;
  margin-bottom: 0;
}

.cert__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 47px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: #0A0A0A;
}

.footer {
  background-color: #fff;
  padding: 24px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1091px;
}

.footer__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.footer__link:hover {
  color: #488DCD;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
}

.footer__item {
  position: relative;
  line-height: 20px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #404040;
}

.footer__item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 46px;
  background: #488DCD;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 65px;
}

.footer__item:nth-child(2)::after {
  margin-left: 110px;
}

.footer__item:nth-child(3)::after {
  display: none;
}

.footer__item a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #404040;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer__item a:hover {
  color: #488DCD;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination_objects {
  margin-top: 64px;
}

.pagination_news {
  margin-top: 64px;
}

.pagination_equipment {
  margin-top: 64px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.pagination__prev {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  margin-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: relative;
  cursor: pointer;
}

.pagination__prev:hover {
  background: #fff;
}

.pagination__prev img {
  margin: 0 auto;
  display: block;
  margin-top: 12px;
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.pagination__prev:hover img {
  display: none;
}

.pagination__prev:hover::before {
  content: "";
  width: 20px;
  position: absolute;
  background: url(../../images/icons/arrow-active.svg) center center/cover no-repeat;
  height: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 12.5px;
}

.pagination__item {
  width: 40px;
  height: 40px;
  font-family: Open Sans;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border: 2px solid;
  line-height: 36px;
  cursor: pointer;
  margin: 0 8px;
}

.pagination__item:hover {
  color: #488dcd;
  background-color: #fff;
}

.pagination__item_active {
  width: 40px;
  height: 40px;
  color: #488dcd;
  background-color: #fff;
}

.pagination__ext {
  font-family: Open Sans;
  font-size: 14px;
  text-align: center;
  color: #488DCD;
}

.pagination__next {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  cursor: pointer;
  position: relative;
}

.pagination__next:hover {
  background-color: #fff;
}

.pagination__next:hover img {
  display: none;
}

.pagination__next:hover::before {
  content: "";
  width: 20px;
  position: absolute;
  background: url(../../images/icons/arrow-active.svg) center center/cover no-repeat;
  height: 12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 12px;
}

.pagination__next img {
  margin: 0 auto;
  display: block;
  margin-top: 12px;
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.fullstory__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0A0A0A;
  margin-top: 32px;
}

.fullstory__date {
  font-family: Open Sans;
  font-size: 20px;
  color: #1A1A1A;
  margin-top: 24px;
}

.fullstory__descr {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #1A1A1A;
  margin-top: 42px;
}

.fullstory__descr p {
  margin-bottom: 16px;
}

.fullstory__descr p:last-child {
  margin-bottom: 40px;
}

.fullstory__wrapper {
  width: 1140px;
  margin: 0 auto;
}

.fullstory__subtitle {
  font-family: Open Sans;
  font-size: 16px;
  color: #484848;
  margin-top: 8px;
  text-align: left;
}

.fullstory__subdescr {
  font-family: Open Sans;
  font-size: 16px;
  color: #1A1A1A;
  margin-top: 24px;
}

.fullstory__subdescr p {
  margin-bottom: 24px;
}

.fullstory__subdescr p:last-child {
  margin-bottom: 64px;
}

.fullstory__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-bottom: 150px;
}

.fullstory__more-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #0A0A0A;
}

.fullstory .news__row::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #948D8D;
  top: 24px;
  left: 0;
}

.equipment {
  margin-top: 40px;
}

.equipment__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.equipment__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.equipment__wrapper {
  max-width: 1050px;
  margin: 0 auto;
}

.file {
  margin-top: 56px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.file:last-child {
  margin-bottom: 46px;
}

.file:hover .file__next {
  background-color: #488dcd;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.file:hover .file__next img {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.file__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.file__right {
  position: relative;
}

.file__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 545px;
          flex: 0 0 545px;
}

.file__img img {
  width: 100%;
  height: 340px;
}

.file__next {
  width: 40px;
  height: 40px;
  border: 1px solid #488DCD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.file__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  text-align: left;
  color: #0A0A0A;
  margin-top: 43px;
  padding: 30px;
  padding-top: 0;
  line-height: 25px;
  position: relative;
}

.file__title::after {
  content: "";
  position: absolute;
  width: 420px;
  height: 1px;
  background: #474747;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.file__descr {
  font-family: Open Sans;
  font-size: 18px;
  text-align: center;
  color: #808080;
  line-height: 27px;
  padding: 34px;
}

.ours {
  padding: 40px 0 150px 0;
}

.ours__banner {
  max-width: 1300px;
}

.ours__banner img {
  width: 100%;
}

.ours__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  position: relative;
  margin-top: 40px;
}

.ours__title::after {
  content: "";
  position: absolute;
  width: 118px;
  height: 4px;
  background: #488DCD;
  bottom: -16px;
  left: 0;
}

.ours__descr {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #fff !important;
  background-color: #488dcd !important;
  margin-top: 40px;
  line-height: 24px;
}

.ours__descr p {
  margin-bottom: 20px;
}

.ours__subtitle {
  margin-top: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #fff !important;
  background-color: #488dcd !important;
}

.ours__subdescr {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff !important;
  background-color: #488dcd !important;
  margin-top: 16px;
}

.contacts {
  padding: 40px 0 316px 0;
  position: relative;
}

.contacts__map {
  padding: 0 260px;
  margin-top: 56px;
}

.contacts__information {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #488dcd !important;
  margin-top: 40px;
}

.contacts__information span {
  display: block;
  margin-bottom: 8px;
}

.services {
  padding-bottom: 150px;
}

.services__image {
  max-width: 1300px;
  margin-bottom: 40px;
}

.services__image img {
  width: 100%;
}

.services__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  margin-bottom: 34px;
}

.services__title::after {
  position: absolute;
  content: "";
  width: 118px;
  height: 4px;
  background-color: #488dcd;
  bottom: -20px;
  left: 8.5%;
}

.services__subtitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 54px;
}

.equipment-inner__image {
  max-width: 1300px;
  position: relative;
  top: 106px;
  margin-bottom: 126px;
}

.equipment-inner__image img {
  width: 100%;
}

.equipment-inner__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #0A0A0A;
  margin-top: 40px;
  text-align: left;
}

.equipment-inner__title::after {
  display: none;
}

.equipment-inner__wrapper {
  max-width: 1158px;
  margin: 0 auto;
}

.equipment-inner__descr {
  margin-top: 24px;
  font-family: Open Sans;
  font-size: 16px;
  color: #1A1A1A;
  line-height: 25px;
}

.blueprints__title {
  font-size: 24px;
  margin-top: 40px;
}

.blueprints__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -9px;
}

.blueprints__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-top: 40px;
  padding: 0 9px;
}

.blueprints__column:last-child {
  margin-bottom: 222px;
}

.blueprints__image {
  max-width: 368px;
}

.blueprints__image img {
  width: 100%;
}

.eq-inner__title {
  margin-top: 40px;
}

.eq-inner__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -50px;
}

.eq-inner__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.eq-inner__wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.eq-inner__item {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  margin-top: 71px;
  margin-bottom: 50px;
}

.eq-inner__item:hover .eq-inner__next {
  background-color: #488dcd;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.eq-inner__item:hover .eq-inner__next img {
  -webkit-filter: brightness(10);
          filter: brightness(10);
}

.eq-inner__img {
  max-width: 407px;
  height: 409px;
  padding: 50px;
  margin: 0 auto;
}

.eq-inner__img img {
  width: 100%;
  height: 100%;
}

.eq-inner__text {
  padding: 0 31px;
  padding-bottom: 54px;
  padding-right: 112px;
}

.eq-inner__titles {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #000000;
  margin-top: 38px;
  position: relative;
}

.eq-inner__titles::after {
  content: "";
  width: 120%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
}

.eq-inner__descr {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-top: 33px;
  color: #808080;
}

.eq-inner__next {
  width: 52px;
  height: 52px;
  border: 1px solid #488DCD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.eq-side__title {
  margin-top: 40px;
}

.eq-side__slide {
  padding: 0 10px;
  max-width: 360px;
  height: 370px;
}

.eq-side__slide img {
  width: 100%;
  height: 100%;
}

.eq-side__sliders {
  margin-top: 43px;
  margin-bottom: 50px;
  background: #EEEEEE;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1176px;
  padding: 25px;
  position: relative;
}

.eq-side__wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.main-item {
  margin-top: 71px;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 57px;
}

.main-item__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-item__icon {
  max-width: 119px;
  margin: 0 38.5px;
  margin-top: 21px;
}

.main-item__icon:hover .main-item__icon-descr {
  color: #488DCD;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.main-item__icon-descr {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin-top: 8px;
  text-align: center;
}

.main-item__icon img {
  width: 100%;
}

.main-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-item__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 487px;
          flex: 0 0 487px;
}

.main-item__img img {
  width: 100%;
}

.main-item__text {
  margin-left: 76px;
}

.main-item__title {
  margin-top: 25px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #000000;
}

.main-item__descr {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #808080;
  margin-top: 21px;
  width: 377px;
}

.main-item__descr p {
  margin-bottom: 10px;
}

.eq-side-next {
  width: 52px;
  height: 52px;
  border: 1px solid #488DCD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -60px;
  top: 50%;
}

.eq-side-prev {
  width: 52px;
  height: 52px;
  border: 1px solid #488DCD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: -60px;
  top: 50%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media (max-width: 1201px) {
  .bigcard__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bigcard__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 25px;
    border-radius: 0px;
  }
  .bigcard__img img {
    border-radius: 0px;
  }
  .container {
    padding: 0 20px;
    max-width: 1140px;
  }
  .eq-side .main-item__text {
    margin-left: 0;
  }
  .eq-side .main-item__title {
    font-size: 19px;
  }
  .eq-side .main-item__descr {
    width: 227px;
    font-size: 16px;
  }
  .eq-side .main-item__img img {
    width: 75%;
  }
  .equipment__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .equipment__column .file__img img {
    margin: 0 auto;
    display: block;
  }
  .equipment__column .file__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equipment__column .file__img {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .equipment__column .file__title {
    text-align: center;
  }
  .header__list {
    margin-right: 15px;
  }
  .header__list li {
    margin-left: 50px;
  }
  .header__list li a {
    font-size: 17px;
  }
  .header__links {
    font-size: 17px;
    margin-right: 36px;
  }
  .item__descr {
    font-size: 16px;
  }
  .objects .card__title {
    font-size: 16px;
  }
  .objects .card__title::after {
    bottom: -20px;
  }
  .objects__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .news__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .news__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news .post__image {
    width: 100%;
  }
  .news .post__image img {
    width: 100%;
  }
  .news .post__title {
    font-size: 16px;
  }
  .news .post__title::after {
    width: 100%;
  }
  .news .post__descr {
    font-size: 15px;
    line-height: 27px;
  }
  .footer__menu {
    width: 845px;
  }
  .footer__item:nth-child(2)::after {
    margin-left: 17%;
  }
  .footer__item::after {
    margin-left: 12%;
  }
  .fullstory__title {
    font-size: 28px;
  }
  .fullstory__date {
    font-size: 18px;
  }
  .fullstory__wrapper {
    width: auto;
  }
  .fullstory__descr {
    line-height: 25px;
  }
  .fullstory__stock {
    max-width: 100%;
  }
  .fullstory__subdescr {
    line-height: 25px;
  }
}

@media (max-width: 992px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .bigcard {
    margin-top: 60px;
  }
  .bigcard__left {
    border-radius: 0;
    padding-bottom: 30px !important;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .bigcard__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bigcard__right {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .carrier__text {
    font-size: 17px;
  }
  .carriers__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .carriers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .reviews__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .reviews__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .eq-side__sliders {
    padding-left: 0;
  }
  .eq-inner__row {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .eq-inner__column {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .eq-inner__text {
    padding-right: 0;
  }
  .eq-inner__descr {
    font-size: 14px;
  }
  .eq-inner__titles {
    font-size: 20px;
  }
  .eq-inner__titles::after {
    width: 100%;
  }
  body {
    position: relative;
  }
  body.lock {
    overflow: hidden;
  }
  .container {
    padding: 0 20px;
  }
  .header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }
  .header__list {
    display: block;
    position: fixed;
    top: 0;
    /*left: 70vh;*/
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: #488dcd;
    z-index: 1;
    padding: 131px 0 0px 0px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header__list.active {
    -webkit-transform: translateX(-35%);
            transform: translateX(-35%);
  }
  .header__list li {
    color: #fff;
    margin-bottom: 30px;
  }
  .header__list li a {
    color: #fff;
    font-size: 20px;
  }
  .header__contacts {
    display: none;
  }
  .header__burger {
    display: block;
    position: absolute;
    width: 36px;
    height: 20px;
    right: 20px;
    margin-top: 26px;
    z-index: 50;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #3E79E6;
    position: absolute;
    left: 0;
  }
  .header__burger::after {
    bottom: -4px;
  }
  .header__burger::before {
    top: 1px;
  }
  .header__burger.active::after {
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header__burger.active::before {
    background-color: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header__burger.active span {
    background-color: #fff !important;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header span {
    position: absolute;
    top: 11px;
    width: 100%;
    height: 3px;
    background-color: #3E79E6;
  }
  .carousel {
    position: relative;
    top: 105px;
    margin-bottom: 70px;
  }
  .carousel__text {
    font-size: 50px;
    line-height: 73px;
  }
  .item__descr {
    font-size: 15px;
  }
  .objects .card__title::after {
    width: 100%;
  }
  .objects .card__descr {
    max-width: 305px;
  }
  .objects__column {
    margin: 0 auto;
  }
  .news__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .news__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 18px;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu {
    width: 723px;
  }
  .footer__item {
    font-size: 14px;
  }
  .footer__item a {
    font-size: 14px;
  }
  .footer__bottom {
    margin-bottom: 15px;
  }
  .blueprints__column:last-child {
    margin-bottom: 80px;
  }
  .blueprints__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .blueprints__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .equipment {
    position: relative;
    top: 140px;
    margin-top: 0px;
  }
  .equipment__wrapper {
    margin-bottom: 150px;
  }
  .equipment__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .file {
    margin-bottom: 28px;
  }
  .file__descr {
    font-size: 17px;
    padding-top: 20px;
  }
  .file__title {
    font-size: 23px;
    text-align: center;
  }
  .file__title::after {
    width: 100%;
    bottom: 7px;
  }
  .file__next {
    width: 30px;
    height: 30px;
  }
  .file__img {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .file__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .carrier__text {
    font-size: 17px;
  }
  .bigcard {
    margin-top: 60px;
  }
  .bigcard__left {
    border-radius: 0;
    padding-bottom: 30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .bigcard__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bigcard__right {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .carriers__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .carriers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .reviews__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .reviews__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news {
    position: relative;
    top: 68px;
  }
  .objects {
    position: relative;
    top: 53px;
  }
  .pagination_objects {
    margin-bottom: 57px;
  }
  .ours {
    position: relative;
    top: 68px;
  }
  .ours__banner {
    height: 207px;
  }
  .ours__banner img {
    height: 100%;
  }
  .services {
    position: relative;
    top: 50px;
  }
  .services__title {
    font-size: 26px;
  }
  .carousel__text {
    font-size: 40px;
    line-height: 55px;
    margin-left: 44px;
  }
  .carousel .slick-dots {
    bottom: -45px;
  }
  .carousel .slick-dots li button::before {
    width: 13px;
    height: 13px;
  }
  .item__descr {
    font-size: 15px;
    padding: 0 5px;
  }
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .advantages__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news .post__title {
    font-size: 15px;
  }
  .news .post__title::after {
    bottom: -19px;
  }
  .news .post__descr {
    font-size: 14px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 565px;
  }
  .footer__menu li {
    margin-bottom: 15px;
  }
  .footer__item {
    font-size: 11px;
  }
  .footer__item:nth-child(2)::after {
    margin-left: 9.3%;
  }
  .footer__item::after {
    margin-left: 6.3%;
  }
  .footer__item a {
    font-size: 12px;
  }
  .contacts__map {
    padding: 0;
    margin: 0 auto;
    margin-top: 56px;
  }
  .fullstory {
    position: relative;
    top: 108px;
  }
  .fullstory__title {
    font-size: 23px;
  }
  .fullstory__date {
    font-size: 16px;
  }
  .fullstory__wrapper {
    width: auto;
  }
  .fullstory__descr {
    line-height: 27px;
  }
  .fullstory__stock {
    max-width: 100%;
  }
  .fullstory__subdescr {
    line-height: 25px;
  }
  .fullstory .news__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fullstory .news__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 576px) {
  .carrier__text {
    font-size: 17px;
  }
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .bigcard {
    margin-top: 60px;
  }
  .bigcard__left {
    padding: 0 40px;
  }
  .bigcard__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carriers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .header__list.active {
    -webkit-transform: translateX(-53%);
            transform: translateX(-53%);
  }
  .reviews__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .reviews__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .eq-side .main-item__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .eq-side .main-item__img img {
    width: 64%;
    display: block;
    margin: 0 auto;
  }
  .eq-inner__descr {
    font-size: 13px;
  }
  .eq-inner__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
  }
  .eq-inner__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .eq-inner__next {
    width: 32px;
    height: 32px;
  }
  .carousel__text {
    font-size: 26px;
    line-height: 35px;
    margin-left: 21px;
  }
  .carousel .slick-dots {
    bottom: -56px;
  }
  .carousel .slick-dots li button::before {
    width: 10px;
    height: 10px;
  }
  .title {
    font-size: 25px;
  }
  .card {
    padding: 0 !important;
  }
  .card__descr {
    font-size: 12px !important;
    max-width: 326px;
  }
  .card__title {
    font-size: 14px !important;
  }
  .card__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__img img {
    width: 117% !important;
  }
  .news .post__title {
    font-size: 16px;
  }
  .news .post__descr {
    font-size: 15px;
  }
  .news__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__item {
    margin-bottom: 12px;
    font-size: 15px;
    text-align: center;
  }
  .footer__item a {
    font-size: 15px;
  }
  .footer__item::after {
    display: none;
  }
  .footer__item:nth-child(2)::after {
    display: none;
  }
  .blueprints__column:last-child {
    margin-bottom: 80px;
  }
  .blueprints__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .blueprints__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blueprints__image {
    margin: 0 auto;
  }
  .contacts {
    top: 105px;
  }
  .contacts__map {
    padding: 0;
    margin: 0 auto;
    margin-top: 56px;
  }
  .equipment__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .fullstory__subtitle {
    font-size: 11.1px;
  }
}
